
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# MacOS files
.DS_Store

# Project files
.shadow-cljs
node_modules
resources/public/js/core

# x.core
resources/public/x/build-version.edn
environment/x/install-log.edn

# x.media
environment/media/thumbnails/*
environment/media/storage/*
environment/media/temp/*

# app.storage
!environment/media/storage/sample.png
!environment/media/thumbnails/sample.png
!environment/media/thumbnails/default.png

# app.website-config
environment/project/website-config.edn

# app.website-contacts
environment/project/website-contacts.edn

# app.website-impressum
environment/project/website-impressum.edn
