
{:paths ["resources" "source-code"]
 :deps  {monotech-hq/project-compiler  {:git/url "git@github.com:monotech-hq/project-compiler"
                                        :sha     "664bc811c3af1083bb732045067af2848ed3bc0d"}
         monotech-hq/project-developer {:git/url "git@github.com:monotech-hq/project-developer.git"
                                        :sha     "608988711df8d1a50dcd780f483b54f6c18a05a2"}
         monotech-hq/project-kit       {:git/url "git@github.com:monotech-hq/project-kit"
                                        :sha     "c430ea7e3ff9e602782d7429e6a7b07179e2c832"}}

 :aliases
 {:site.dev  {:exec-fn    boot-loader.sample.backend.main/dev
              :exec-args  {:port 3000 :shadow-build :site.dev}
              :jvm-opts   ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]
              :extra-deps {}}

  :app.dev   {:exec-fn    boot-loader.sample.backend.main/dev
              :exec-args  {:port 3000 :shadow-build :app.dev}
              :jvm-opts   ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]
              :extra-deps {}}

  :prod {:extra-deps {}
         :exec-fn   compiler.api/compile-app!
         :exec-args {:java-config   {:aot true :jar-type :uber :main-class boot-loader.sample.backend.main}
                     :shadow-builds [:site.prod :app.prod]}}}}
