/*******************************************3***********************************/
/***** Website *****/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

/* body {
  --app-background-color: rgb(45, 41, 37) !important;
} */

#xgo {
  --site-width: 1200px;
  background-color: #f4f7f6;
}

/***** Website *****/
/******************************************************************************/

/******************************************************************************/
/***** Utils *****/

/*** Section title ***/

.xgo-section-title {
  align-items: center;
  display: flex;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 3px;
  line-height: 30px;
  padding: 120px 0 60px 0;
  text-align: center;
  text-transform: uppercase;
}

/*** Section title ***/

/*** Mt Contacts ***/

#mt-contacts {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.mt-contacts--address-group,
.mt-contacts--contact-group {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-bottom: 30px;
}

#mt-contacts--address-data-information,
#mt-contacts--contacts-data-information {
  margin-bottom: 30px;
  min-width: 500px;
}

.mt-contacts--address-data-information,
.mt-contacts--contacts-data-information,
.mt-contacts--contact-group-label,
.mt-contacts--address-group-label {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 2px;
}

.mt-contacts--email-address,
.mt-contacts--phone-number,
.mt-contacts--company-address {
  color: #007cff !important;
  font-size: 21px;
  line-height: 35px;
  letter-spacing: 2px;
  width: fit-content;
}

@media only screen and (max-width: 800px) {

  .mt-contacts--email-address,
  .mt-contacts--phone-number,
  .mt-contacts--company-address {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {

  .mt-contacts--address-group,
  .mt-contacts--contact-group {
    width: auto;
  }

  #mt-contacts--address-data-information,
  #mt-contacts--contacts-data-information {
    min-width: unset;
    text-align: center;
    font-size: 14px;
  }
}

/*** Mt Contacts ***/

/*** Scheme Table ***/

.mt-scheme-table--container {
  overflow-x: auto;

  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 35%);
}

.mt-scheme-table--header {
  text-align: center;
  padding: 16px 0;
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid lightgray;
  font-weight: 500;
}

.mt-scheme-table {
  overflow: hidden;

  width: 100%;
}

.mt-scheme-table thead {
  margin-bottom: 15px;

  white-space: nowrap;
  letter-spacing: 3px;

  font-size: 14px;
  font-weight: 500;
}

.mt-scheme-table tbody {}

.mt-scheme-table th,
.mt-scheme-table td {
  padding: 10px;

  white-space: nowrap;
}

.mt-scheme-table tr:nth-child(even) {
  background-color: rgb(0 0 0 / 5%);
}

/*** Scheme Table ***/

/*** Pages ***/

#mt-website-page {
  min-height: calc(100vh - 113px);
}

#mt-website-page--title {
  align-items: center;
  display: flex;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 3px;
  line-height: 30px;
  padding: 120px 0 60px 0;
  text-align: center;
  text-transform: uppercase;
}

#mt-website-page--wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#mt-website-page--body {
  background-color: white;
  border-radius: 10px;
  display: flex;
  font-size: var(--font-size-s);
  padding: 24px;
  max-width: 1024px;
}

/*** Pages ***/

/***** Utils *****/
/******************************************************************************/

/******************************************************************************/
/***** Scheme *****/

#mt-scheme .mt-section-body {
  background-color: #eef4f3;
  display: flex;
  justify-content: center;
  padding: 10vh;
}

/***** Scheme *****/
/******************************************************************************/

/******************************************************************************/
/***** Navbar *****/

#mt-navbar {
  height: 75px;
  padding: 0 24px;
  transition: background-color .2s, height .3s;
}

#mt-navbar[data-scrolled="false"] {
  background-color: rgba(255, 255, 255, 0);
  height: 50px;
}

#mt-navbar[data-scrolled="true"] {
  background-color: rgba(255, 255, 255, 0.942);
  height: 75px;
}

#mt-navbar[data-scrolled="false"] #mt-navbar--logo {
  transform: translateX(-200%);
}

#mt-navbar[data-scrolled="true"] #mt-navbar--logo {
  transform: translateY(0%);
}

#xgo-navbar--website-name {
  color: #008fc5;
  font-weight: 500;
  font-size: 18px;
}

#xgo-navbar--website-slogan {
  font-size: 16px;
  font-weight: 500;
}

#mt-navbar .mt-menu--menu-items {
  gap: 50px;
}

#mt-navbar .mt-menu--menu-item {
  color: #333;
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

#mt-navbar .mt-effect--underline::before {
  bottom: 0px;
  --underline-color: #333;
}

#mt-navbar--logo {
  display: flex;
  align-items: center;
  gap: 15px;
  transition-delay: .3s;
  transition-property: transform;
  transition-duration: .3s;
}

/***** Navbar *****/
/******************************************************************************/


/******************************************************************************/
/***** Sidebar *****/

#mt-sidebar--content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mt-sidebar .mt-menu--menu-items {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#mt-sidebar .mt-menu--menu-item {
  color: #333;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/***** Sidebar *****/
/******************************************************************************/

/******************************************************************************/
/***** Section *****/

.xgo-section--body {
  height: 100%;
}

.xgo-section--title {}

/***** Section *****/
/******************************************************************************/



/******************************************************************************/
/***** Hero *****/

#xgo-hero {
  background-image: url(/xgo/img/hero.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 70%;
  background-clip: content-box;
  background-size: cover;
  overflow: hidden;
  display: flex;
  height: 100vh;
  padding: 50px;
  border-radius: 70px;
}

#xgo-hero--header {
  display: flex;
  gap: 32px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  top: 8%;
  transition: opacity .3s;
}

#xgo-hero--header[data-hidden=true] {
  opacity: 0;
}

#xgo-hero--header[data-hidden=false] {
  opacity: 1;
}

#xgo-hero--logo {
  aspect-ratio: 1/1;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-image: url("/xgo/img/logo.png"); */
  width: 100px;
}

#xgo-hero--slogan {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 5px;
  line-height: var(--line-height-xl);
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #xgo-hero {
    padding: 0;
    border-radius: 0;
  }
}

/***** Hero *****/
/******************************************************************************/



/******************************************************************************/
/***** Contacts *****/

#xgo-contacts {
  min-height: 50vh;
  background-color: #77aac8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#xgo-contacts--background {
  background-image: url(/xgo/img/footer.jpg);
  background-position: top;
  background-size: cover;
  border-bottom: 3px solid rgb(158, 195, 251);
  height: 1200px;
  width: 100%;
}

#xgo-social-media-links {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  padding-top: 60px;
}

.xgo-social-media-link {
  display: flex;
  text-decoration: none;
}

.xgo-social-media-link:hover {
  opacity: .5;
  text-decoration: none;
}

.xgo-social-media-link i {
  display: flex;
  font-size: 24px;
  justify-content: center;
  width: 32px;
}

.xgo-social-media-link span {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  padding-left: 12px;
}

/***** Contacts *****/
/******************************************************************************/


#xgo-footer {
  background-color: #2d2925;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#xgo-footer .mt-menu--menu-items {
  color: #bbb;
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 600;
  gap: 30px;
  justify-content: center;
  letter-spacing: 1.5px;
  padding: 25px 0 10px 0;
  text-transform: uppercase;
}

@media only screen and (max-width: 450px) {
  #xgo-footer .mt-menu--menu-items {
    flex-direction: column;
    align-items: center;
  }
}

/******************************************************************************/
/***** Categories *****/

#xgo-categories--container {
  padding: 75px 0;
}

#xgo-categories--container::before {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  left: calc(50% - 50px);
  height: 2px;
  width: 100px;
  background-color: #dedede;
}

#xgo-categories {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--grey-dark);
}

.xgo-category--button {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  font-weight: 600;
  font-size: var(--font-size-s);
  height: 62px;
  line-height: 30px;
  padding: 15px 30px 15px 30px;
  text-transform: uppercase;
}

.xgo-category--button:hover {
  opacity: 0.8;
}

.xgo-category--button[data-selected=true]::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 2px;
  background-color: #46d2ff;
}

#xgo-categories--description {
  color: var(--grey-dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: var(--font-size-m);
  font-weight: 500;
  line-height: 30px;
  letter-spacing: var(--letter-spacing-l);
  padding: 15px 0;
}

#xgo-categories--thumbnail-container {
  opacity: 0.5;
  margin-top: 70px;
  border-bottom: 2px solid gray;
}

#xgo-categories--thumbnail {
  max-width: var(--site-width);
  margin: 0 auto;
}

#xgo-categories--thumbnail>img {
  height: 180px;
}

@media only screen and (max-width: 840px) {
  #xgo-categories {
    justify-content: unset;
  }
}

@media only screen and (max-width: 500px) {
  #xgo-categories--thumbnail>img {
    height: auto;
    width: 90%;
    margin: 0 auto;
  }
}

/***** Categories *****/
/******************************************************************************/

/******************************************************************************/
/***** Models *****/

#xgo-models {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.xgo-model-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  gap: 15px;
  padding: 24px 12px 12px 12px;
  border-radius: 6px;
  background-color: #d3d3d3;
}

.xgo-model-card:hover {
  opacity: 0.8;
}

.xgo-model-card--name {
  font-size: 20px;
  font-weight: 500;
}

.xgo-model-card--dimensions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.xgo-model-card--dimension {
  display: flex;
  align-items: center;
  gap: 8px;
}

.xgo-model-card--dimension-icon {
  font-size: 32px;
}

.xgo-model-card--dimension-label {
  font-size: var(--font-size-s);
  font-weight: 500;
}

.xgo-model-card--thumbnail {
  margin-top: 10px;
  height: 300px;
}

/***** Models *****/
/******************************************************************************/

/******************************************************************************/
/***** Types *****/

#xgo-type--container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

#xgo-type {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

#xgo-type--model-name {
  font-size: var(--font-size-xxl);
  font-weight: 500;
  line-height: var(--line-height-xxl);
  text-align: center;
}

#xgo-type--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.xgo-type--name {
  color: var(--grey-dark);
  font-size: var(--font-size-s);
  font-weight: 500;
  text-align: center;
}

.xgo-type--name-button {}

.xgo-type--name-button[data-selected="true"] {
  color: black;
}

#xgo-type--name-button-group {
  display: flex;
  gap: 12px;
}

#xgo-type--price-quote-button {
  text-align: center;
  font-size: 18px;
}

#xgo-type--price-quote-button:hover {
  opacity: 0.8;
}

#xgo-type--layout {
  padding: 0 25px;
  display: grid;
  align-items: center;
  font-size: var(--font-size-s);
  font-weight: 500;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

#xgo-type--images {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.202);
}

.xgo-type--files-container {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.xgo-type--file-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.xgo-type--file-container:hover {
  opacity: 0.8;
}

.xgo-type--file-icon {
  font-size: 23px;
}

.xgo-type--file-data {
  display: flex;
  gap: 12px;
  align-items: center;
}

.xgo-type--file-name {
  font-size: var(--font-size-m);
  font-weight: 500;
}

.xgo-type--file-size {
  font-size: var(--font-size-xs);
  color: var(--grey-dark);
}

#xgo-type--back-button-container {
  display: flex;
  justify-content: center;
}

#xgo-type--back-button {
  font-size: var(--font-size-m);
  font-weight: 500;
}

#xgo-type--back-button:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 840px) {
  #xgo-type--layout {
    /* display: block; */
    padding: unset;
    grid-template-columns: 1fr;
    gap: 80px;
  }

  #xgo-type--images {
    border-radius: unset;
  }

  .mt-scheme-table--container {
    border-radius: unset;
  }
}

/***** Types *****/
/******************************************************************************/

/******************************************************************************/
/***** Price quote *****/

#mt-price-quote {
  padding: 50px;
  min-height: 100vh;
}

#mt-price-quote--title {
  margin-bottom: 35px;
}

.mt-price-quote--box {
  background-color: var(--fill-color);
  border-radius: var(--border-radius-m);
  border: 1px solid var(--border-color-highlight);
  padding: 25px;
}

/*** Lister ***/

.mt-price-quote--list-title {
  margin: 40px 0 25px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.mt-price-quote--list-title::before,
.mt-price-quote--list-title::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: gray;
}

.mt-price-quote--list-title::before {
  width: 25px;
}

.mt-price-quote--lister-container {
  display: flex;
  gap: 25px;
  flex-direction: column;
  max-height: 440px;
  overflow-y: auto;
}

.mt-price-quote--list-item {
  display: flex;
  gap: 24px;
  padding: 12px;
  align-items: center;
  justify-content: space-between;
  background-color: #fbfbfb;
  border: 1px solid lightgray;
  border-radius: 6px;
  user-select: none;
}

.mt-price-quote--list-item-name-description-container {
  flex-grow: 1;
}

.mt-price-quote--list-item-name {
  font-weight: 500;
}

.mt-price-quote--list-item-description {
  font-size: 0.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
}

.mt-price-quote--list-item-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*** Lister ***/

#mt-prce-quote--list-client-data {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 3px 8px;
}

#mt-prce-quote--list-client-data p:nth-child(odd) {
  font-weight: 500;
}

#mt-prce-quote--list-client-data p:nth-child(even) {
  font-weight: 600;
}

/***** Price quote *****/
/******************************************************************************/

/******************************************************************************/
/***** Stepper *****/

#mt-stepper--container {
  margin: 35px 0px;
}

#mt-stepper--header {
  display: flex;
  gap: 12px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 35px;
}

.mt-stepper--line {
  width: auto;
  flex: auto;
}

#mt-stepper--step-container {
  max-width: 1024px;
  margin: 0 auto;
}

.mt-stepper--step-label {
  display: flex;
  gap: 8px;
  font-size: var(--font-size-s);
  align-items: center;
  border-radius: 6px;
  padding: 8px 24px 8px 16px;
  cursor: auto;
}

.mt-stepper--step-label[data-done="true"] {
  background-color: rgb(168 247 196);
  cursor: pointer;
}

.mt-stepper--step-label[data-selected="true"] {
  background-color: rgb(167 229 247);
  cursor: auto;
}

#mt-stepper--footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 35px;
}

/***** Stepper *****/
/******************************************************************************/

/******************************************************************************/
/**** Tabs ****/

.tabs--container {
  --tabs-effect-color: rgb(70, 174, 229);
  --tabs-bg-color: inherit;
  --tabs-button-bg: inherit;
  --tabs-button-color: black;
}

.tabs {
  display: flex;
  background-color: var(--tabs-bg-color);
}

.tabs--button {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: var(--tabs-button-bg);
  border: unset;
  cursor: pointer;
  color: var(--tabs-button-color);
  margin: 0;
  font-size: 14px;
  padding: 12px 16px;
  overflow: hidden;
}

.tabs--button::before,
.tabs--button::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 80%;
}

.tabs--button::before {
  height: 100%;
  background: hsl(0deg 0% 100% / 10%);
  display: none;
}

.tabs--button::after {
  height: 2px;
  background: var(--tabs-effect-color);
  transition: transform 0.3s;
  transform: scale(0);
}

.tabs--button:hover {
  /* background-color: hsl(0deg 0% 75%); */
}

.tabs--button:hover::after {
  transform: scale(1);
}

.tabs--button[data-active=true] {
  /* background-color: hsl(0deg 0% 80%); */
  /* color: var(--tabs-color) */
}

.tabs--button[data-active=true]::before {
  display: block;
}

.tabs--button[data-active=true]::after {
  transform: scale(1);
}

/**** Tabs ****/
/******************************************************************************/